*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}
h2{
    font-size: 35px;
}

#url{
    height: 30px;
    border: 2px solid #ff0d6e;
    outline: none;
    border-radius: 20px;
    width: 350px;
    padding: 10px;
}
#btn{
    height: 30px;
    width: 100px;
    border: 2px solid  #ff0d6e ;
    outline: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;

    
}
#btn:hover{
    background: linear-gradient(-45deg, #ff5959, #ff4040, #ff0d6e, #d74177);
    color: #fff;

}
.summary{
    width: 600px;
    height: 400px;
    overflow-x: hidden;
    padding: 1rem;
    border-radius: 1rem;
    /* background-image: linear-gradient(45deg, #72d64a, rgb(192, 192, 14)); */
    background: linear-gradient(45deg, #00dbde 0%, #fc00ff 100%);

}